/* FINAL SECTION */
.final-section{
  text-align:center;
  margin-top:40px;
  z-index:10;
}

/* CRATE */
.crate{
  font-size:70px;
  cursor:pointer;
  margin:20px auto;
  transition:0.3s;
}

.crate:hover{
  transform:scale(1.15) rotate(5deg);
}

/* BUTTON */
.find-btn{
  background:#ff4d6d;
  color:white;
  border:none;
  padding:12px 22px;
  border-radius:25px;
  font-size:1rem;
  cursor:pointer;
  margin-top:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  transition:0.2s;
}

.find-btn:active{
  transform:scale(0.95);
}

/* POPUP */
.popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:999;
}

.popup-content{
  background:white;
  color:#111;
  padding:25px;
  border-radius:20px;
  max-width:300px;
  text-align:center;
  font-family:Poppins;
  animation:pop 0.3s ease;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

@keyframes pop{
  from{transform:scale(0.8);opacity:0}
  to{transform:scale(1);opacity:1}
}
